div.hero {
    background: #b2382b url("img/bithub-concert.jpg") center center no-repeat;
    background-size: cover;
    margin: 0;
}

.hero h1 {
    color: white;
    text-align: center;
    font-size: 30px;
    margin: 0; 
    padding-top: 15px;
    text-transform: uppercase;
    line-height: 55px;
    text-shadow: 1px 1px 3px rgba(10, 11, 12, .5);
}
@media only screen and (max-width: 500px) {
    .hero h1 {
        font-size: 25px;
        line-height: 40px;
    }
}

.hero h1 span {
    font-size: 80px;
}
@media only screen and (max-width: 500px) {
    .hero h1 span {
        font-size: 50px;
    }
}

.hero .red-button {
    margin-top: 8px;
    box-shadow: 1px 1px 3px rgba(10, 11, 12, .5);
}

.hero .mobile-demo {
    width: 95%;
    max-width: 400px;
    margin: -4px auto;
}

.hero .mobile-demo img {
    width: 100%;
    padding-top: 35px;
}